<div id='templates'>
  <script class='tmp-photos' type="x-tmpl-mustache">
    <ul class="small-block-grid-3">
      <li>
        <div>
          <img src={{picture}}>
        </div>
        <div>
          {{likes.length}}
        </div>
      </li>
    </ul>
  </script>
</div>