<div id='templates'>



  <script class='tmp-photo-like' type="x-tmpl-mustache">
    <li>
      <div class="photo-block">
        <img src={{source}}>
      </div>
      <div>
        <span>Likes: {{likeCount}}</span>
      </div>
    </li>
  </script>



  <script class='tmp-photo-comment' type="x-tmpl-mustache">
    <li>
      <div class="photo-block">
        <img src={{source}}>
      </div>
      <div>
        <span>Comments: {{commentCount}}</span>
      </div>
    </li>
  </script>

</div>

