<!-- <div class="row">
  <div class="large-12  medium-12 column">
    <% @posts.each do |post| %>
      <div class="row" panel>Post Here</div>
    <% end %>
  </div>
</div>
 -->

 <div class="row">
  <div class="large-12  medium-12 column fbposts">
    <div class="row fbpost" panel>Post Here</div>
  </div>
</div>
