<div class="row login-window">
  <div class="large-12 medium-12 column">
    <div class="row">
      <div class="large-12 medium-12 column">
        <h2 class="center">FeedFilter</h2>
      </div>
    </div>

     <%= yield %>

  </div>
</div>
