<div class="row employees">
  <div class="large-12 medium-12 column">
    <div class="row">
      <div class="large-12 medium-12 column">
        <h2>FeedFilter</h2>
      </div>
    </div>
    <div class="row">
      <div class="large-12  medium-12 column">
        <%= erb :_login %>
      </div>
    </div>
  </div>
</div>
