<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FBfilter</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/mystyle.css" type="text/css" />
  </head>

  <body>
    <div id="fb-root"></div>

    <%= erb :_header %>
    <div class="row panel container">
      <div class="row login-window">
        <div class="large-12 medium-12 column">
          <div class="row">
            <div class="large-12 medium-12 column">
              <h2 class="center">FeedFilter</h2>
            </div>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= erb :_templates %>

    <script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/js/vendor/imgLiquid/js/imgLiquid-min.js"></script>
    <script type="text/javascript" src="/js/vendor/foundation.min.js"></script>
    <script type="text/javascript" src="/js/vendor/foundation.init.js"></script>
    <script type="text/javascript" src="/js/vendor/underscore.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
    <script type="text/javascript" src="/js/vendor/underscore.settings.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/controllers/fb-business-logic.js"></script>
    <script type="text/javascript" src="/js/controllers/fb-login.js"></script>
    <script type="text/javascript" src="/js/presenters/fb-ui-logic.js"></script>
  </body>
</html>
