/** {
  border: 2px solid red;
}
*/

.photo-block {
  width: 200px;
  height: 200px;
  background-color: #e9eaed;
  text-align: center;
  overflow: hidden;
}

.photo-block img {
  /*max-width: 180px;
  min-width: 180px;*/
  height: 200px;
  /*min-height: 180px;*/
  position: relative;
  left: -28px;
}

body {
  background-color: #e9eaed;
  font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}

#banner {
  background-color: #4c66a4;
  height: 45px;
}

li {
  list-style-type: none;
}

.tall {
  padding-top: 10%;
}

.hidden {
  display: none;
}

/*.container {
  height: 100%;
  margin-top: 20%;
}
*/
/*#my-box {
  width: 80%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 50px auto;
}
*/

div.panel {
  /*-webkit-border-radius: 15px;*/
  /*border-radius: 15px;*/
  padding: 20px;
  margin: 0 auto;
  width: 75%;
  height: 100%;
  background-color: white;
}

.center {
  text-align: center;
}

@media all and (max-width: 64rem) {
  .main {
    max-width: 90%;
  }
}
